﻿@model Library.Winplus.syslib.standard.documentupload.model.DocumentUpload

<div class="modal inmodal" id="@(Model.EntityName)_modal-preview-document" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-12" style="min-height:440px;">
                        <object data="" 
                            type="application/pdf" 
                            style="width:100%;height:430px;"
                            id="@(Model.EntityName)_preview-object"
                            title="">
                        </object>
	                </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-import-close" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

    function @(Model.EntityName)_PreviewPdfDocument(url)
    {
        $('#@(Model.EntityName)_modal-preview-document').modal('show');
        document.getElementById("@(Model.EntityName)_preview-object").data = url;
    }

</script>
