﻿@model Library.Winplus.syslib.standard.docsign.model.Docsign


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="@Url.Content("~/Resource/img/profile_small.ico")">

    <title>Docsign - System</title>
    
    @Html.Partial("~/Views/_shared/_IncludeCss.cshtml")
    
    @Html.Partial("~/Views/_shared/_IncludeJs.cshtml")

</head>
<body id="page-top" class="landing-page no-skin-config" style="background-color:#323639;width:100%;height:100%">
    <div style="width:100%;height:98%">
        <object data="@Url.Content(@Model.PreviewUrl)" 
            type="application/pdf" 
            style="width:100%;height:100%;"
            title="Sign document">
            If you are unable to view file, you can download from 
            <a href="@Model.PreviewUrl">here</a> 
            or download 
            <a target="_blank" href="http://get.adobe.com/reader/">Adobe PDF Reader</a> 
            to view the file.
        </object>
    </div>
</body>
</html>



