@model Library.Winplus.syslib.standard.product.search.ProductSearch
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Request, Session.SessionID);
}

@Html.Partial("~/Views/standard/product/import.cshtml",Model)

<div class="row" id="addedit-section">

</div>

<div class="row" id="search-section">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@MyResources.Winplus.Resource.Search @Html.DisplayNameFor(model => model.search.ProductName)</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <section class="content-header">
                        <div class="box box-default color-palette-box">
                            <div class="box-body">
                                <div class="row">
                                    <form id="search-form">
                                        <!-- Advance Search -->
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div id="advance-search-form" class="collapse">
                                                        <a href="#" data-toggle="collapse" data-target="#advance-search-form">@MyResources.Winplus.Resource.AdvanceSearch</a>
                                                        <div style="height: 3px;"></div>
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProductName)</label>
                                                                    @Html.TextBoxFor(model => model.search.ProductName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProductShortDetail)</label>
                                                                    @Html.TextBoxFor(model => model.search.ProductShortDetail, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProductCategoryId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('ProductCategory','search_ProductCategoryId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ProductCategoryId,Model.GetSelectedItems("ProductCategory", Model.search.ProductCategoryId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SizeWidth)</label>
                                                                    @Html.TextBoxFor(model => model.search.SizeWidth, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SizeHeight)</label>
                                                                    @Html.TextBoxFor(model => model.search.SizeHeight, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Area)</label>
                                                                    @Html.TextBoxFor(model => model.search.Area, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SizeTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SizeType','search_SizeTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.SizeTypeId,Model.GetSelectedItems("SizeType", Model.search.SizeTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SizeInfo)</label>
                                                                    @Html.TextBoxFor(model => model.search.SizeInfo, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Resolution)</label>
                                                                    @Html.TextBoxFor(model => model.search.Resolution, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ExtraFunction)</label>
                                                                    @Html.TextBoxFor(model => model.search.ExtraFunction, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.VatLabelTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('VatLabelType','search_VatLabelTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.VatLabelTypeId,Model.GetSelectedItems("VatLabelType", Model.search.VatLabelTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.VatLabelAmount)</label>
                                                                    @Html.TextBoxFor(model => model.search.VatLabelAmount, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.VisiblePosition)</label>
                                                                    @Html.TextBoxFor(model => model.search.VisiblePosition, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BoardInstallerId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('BoardInstaller','search_BoardInstallerId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.BoardInstallerId,Model.GetSelectedItems("BoardInstaller", Model.search.BoardInstallerId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BoardInstallerCondition)</label>
                                                                    @Html.TextBoxFor(model => model.search.BoardInstallerCondition, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.PreBookingDaysId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('PreBookingDays','search_PreBookingDaysId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.PreBookingDaysId,Model.GetSelectedItems("PreBookingDays", Model.search.PreBookingDaysId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BoardInstallationTimeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('BoardInstallationTime','search_BoardInstallationTimeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.BoardInstallationTimeId,Model.GetSelectedItems("BoardInstallationTime", Model.search.BoardInstallationTimeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.PreBookingPeriodId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('PreBookingPeriod','search_PreBookingPeriodId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.PreBookingPeriodId,Model.GetSelectedItems("PreBookingPeriod", Model.search.PreBookingPeriodId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.MinimumBookingPeroidId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('MinimumBookingPeroid','search_MinimumBookingPeroidId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.MinimumBookingPeroidId,Model.GetSelectedItems("MinimumBookingPeroid", Model.search.MinimumBookingPeroidId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ScreenTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('ScreenType','search_ScreenTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ScreenTypeId,Model.GetSelectedItems("ScreenType", Model.search.ScreenTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProductPricePeriodTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('ProductPricePeriodType','search_ProductPricePeriodTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ProductPricePeriodTypeId,Model.GetSelectedItems("ProductPricePeriodType", Model.search.ProductPricePeriodTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.MainImageNo)</label>
                                                                    @Html.TextBoxFor(model => model.search.MainImageNo, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ScoreId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Score','search_ScoreId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ScoreId,Model.GetSelectedItems("Score", Model.search.ScoreId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProductPrice)</label>
                                                                    @Html.TextBoxFor(model => model.search.ProductPrice, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CurrencyId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Currency','search_CurrencyId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.CurrencyId,Model.GetSelectedItems("Currency", Model.search.CurrencyId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SellerId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Seller','search_SellerId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.SellerId,Model.GetSelectedItems("Seller", Model.search.SellerId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LocationSearch)</label>
                                                                    @Html.TextBoxFor(model => model.search.LocationSearch, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.HasPromotion)</label>
                                                                    <select class="form-control input-search" data-val="true" id="search_HasPromotion">
                                                                        <option value=""></option>
                                                                        <option value="true">True</option>
                                                                        <option value="false">False</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.DiscountTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('DiscountType','search_DiscountTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.DiscountTypeId,Model.GetSelectedItems("DiscountType", Model.search.DiscountTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Discount)</label>
                                                                    @Html.TextBoxFor(model => model.search.Discount, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BestLocationScoreId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('BestLocationScore','search_BestLocationScoreId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.BestLocationScoreId,Model.GetSelectedItems("BestLocationScore", Model.search.BestLocationScoreId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.PopularLocationScoreId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('PopularLocationScore','search_PopularLocationScoreId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.PopularLocationScoreId,Model.GetSelectedItems("PopularLocationScore", Model.search.PopularLocationScoreId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LastVisitDate)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_LastVisitDate_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_LastVisitDate_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.OwnerFirstName)</label>
                                                                    @Html.TextBoxFor(model => model.search.OwnerFirstName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.OwnerLastName)</label>
                                                                    @Html.TextBoxFor(model => model.search.OwnerLastName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.OwnerNickName)</label>
                                                                    @Html.TextBoxFor(model => model.search.OwnerNickName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.OwnerPhone1)</label>
                                                                    @Html.TextBoxFor(model => model.search.OwnerPhone1, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.OwnerPhone2)</label>
                                                                    @Html.TextBoxFor(model => model.search.OwnerPhone2, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CostPrice)</label>
                                                                    @Html.TextBoxFor(model => model.search.CostPrice, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.VersionNumber)</label>
                                                                    @Html.TextBoxFor(model => model.search.VersionNumber, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.OrganizationId)</label>
                                                                    @Html.TextBoxFor(model => model.search.OrganizationId, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ActiveStatusId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('ActiveStatus','search_ActiveStatusId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ActiveStatusId,Model.GetSelectedItems("ActiveStatus", Model.search.ActiveStatusId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.DisplayIndex)</label>
                                                                    @Html.TextBoxFor(model => model.search.DisplayIndex, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CreatedOn)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_CreatedOn_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_CreatedOn_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CreatedBy)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SystemUser','search_CreatedBy')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.CreatedBy,Model.GetSelectedItems("SystemUser", Model.search.CreatedBy,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ModifiedOn)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ModifiedOn_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ModifiedOn_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ModifiedBy)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SystemUser','search_ModifiedBy')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ModifiedBy,Model.GetSelectedItems("SystemUser", Model.search.ModifiedBy,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Basic search by text -->
                                        <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="form-group">
                                                <input type="text" id="SearchText" class="form-control input-search" placeholder="@MyResources.Winplus.Resource.TextToSearch" />
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" aria-label="Advance Search" data-toggle="collapse" data-target="#advance-search-form">
                                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                                </button>
                                                <button type="button" onclick="javascript:gotoSearch();" class="btn btn-default" aria-label="Search">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <div style="height: 3px;"></div>
                            
                            <!-- Grid view -->
                            <section class="content" style="overflow-x:auto;">
                                <table id="tbResult" class="display nowrap hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                            <th><input type="checkbox" class="checkall" /></th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProductName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProductShortDetail)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProductCategoryId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SizeWidth)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SizeHeight)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Area)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SizeTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SizeInfo)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Resolution)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ExtraFunction)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.VatLabelTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.VatLabelAmount)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.VisiblePosition)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BoardInstallerId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BoardInstallerCondition)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.PreBookingDaysId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BoardInstallationTimeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.PreBookingPeriodId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.MinimumBookingPeroidId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ScreenTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProductPricePeriodTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.MainImageNo)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ScoreId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProductPrice)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CurrencyId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SellerId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LocationSearch)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.HasPromotion)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.DiscountTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Discount)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BestLocationScoreId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.PopularLocationScoreId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LastVisitDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.OwnerFirstName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.OwnerLastName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.OwnerNickName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.OwnerPhone1)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.OwnerPhone2)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CostPrice)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.OrganizationId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ActiveStatusId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.DisplayIndex)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedBy)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ModifiedOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ModifiedBy)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

    <div style="display: none" class="grid-menu">
        @if (Model.HasAuthorize(loginUser, "Product", "Add"))
        {
            <button class="btn btn-success btn-circle" type="button" onclick="gotoAdd();" title="Add"><i class="fa fa-plus"></i></button>
            <button class="btn btn-success btn-circle" type="button" onclick="gotoCopy();" title="Copy"><i class="fa fa-copy"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "Product", "Edit"))
        {
            <button class="btn btn-warning btn-circle" type="button" onclick="gotoEdit();" title="Edit"><i class="fa fa-edit"></i></button>
            <button class="btn btn-primary btn-circle" type="button" onclick="gotoActive(1);" title="Active"><i class="fa fa-check" ></i></button>
            <button class="btn btn-default btn-circle" type="button" onclick="gotoActive(2);" title="Inactive"><i class="fa fa-times"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "Product", "Delete"))
        {
            <button class="btn btn-danger btn-circle" type="button" onclick="gotoDelete();" title="Delete"><i class="fa fa-minus"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "Product", "Export"))
        {
            <button class="btn btn-primary btn-circle" type="button" onclick="gotoExportExcel();" title="Export Excel"><i class="fa fa-table"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "Product", "Import"))
        {
            <button class="btn btn-info btn-circle" type="button" data-toggle="modal" data-target="#modal-import" title="Import Excel"><i class="fa fa-database"></i></button>
        }
    </div>

</div>



<script>

    // After menu click and ajax loading completed...
    function singlePageLoad() {
        _initTbResult();
        bindingStandardField();

        $('#search-section .input-search').unbind('keyup');
        $("#search-section .input-search").keyup(function (event) {
            if (event.keyCode == 13) {
                gotoSearch();
            }
        });
    }

    var tbResult = null;
    function _initTbResult() {
        tbResult = $('#tbResult').DataTable({
            "serverSide": true,
            "bFilter": true,
            "columnDefs": [
                { "targets": [1], "orderable": false }
            ],
            "order": [[ 0, "desc" ]],
            "ajax": {
                "url": '@Url.Content("~/product/search?")'+ formParams("#search-form .input-search"),
                "type": "POST"
            },
            "columns": [
                { "name": "ProductId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "", "width": "5px", "data": "ProductId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "ProductId","selectItem"); } },
                { "name": "ProductName", "data": "ProductName", "render": function (data, type, row, meta) { return FormatEditById(data, type, row, meta, "ProductId"); } },
                { "name": "ProductShortDetail", "data": "ProductShortDetail", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ProductCategoryId", "data": "ProductCategoryIdProductCategoryName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "SizeWidth", "data": "SizeWidth", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "SizeHeight", "data": "SizeHeight", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "Area", "data": "Area", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "SizeTypeId", "data": "SizeTypeIdSizeTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "SizeInfo", "data": "SizeInfo", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Resolution", "data": "Resolution", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ExtraFunction", "data": "ExtraFunction", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "VatLabelTypeId", "data": "VatLabelTypeIdVatLabelTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "VatLabelAmount", "data": "VatLabelAmount", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "VisiblePosition", "data": "VisiblePosition", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BoardInstallerId", "data": "BoardInstallerIdBoardInstallerName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BoardInstallerCondition", "data": "BoardInstallerCondition", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "PreBookingDaysId", "data": "PreBookingDaysIdPreBookingDaysName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BoardInstallationTimeId", "data": "BoardInstallationTimeIdBoardInstallationTimeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "PreBookingPeriodId", "data": "PreBookingPeriodIdPreBookingPeriodName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "MinimumBookingPeroidId", "data": "MinimumBookingPeroidIdMinimumBookingPeroidName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ScreenTypeId", "data": "ScreenTypeIdScreenTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ProductPricePeriodTypeId", "data": "ProductPricePeriodTypeIdProductPricePeriodTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "MainImageNo", "data": "MainImageNo", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ScoreId", "data": "ScoreIdScoreName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ProductPrice", "data": "ProductPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "CurrencyId", "data": "CurrencyIdCurrencyName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "SellerId", "data": "SellerIdSellerName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "LocationSearch", "data": "LocationSearch", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "HasPromotion", "data": "HasPromotion", "render": function (data, type, row, meta) { return FormatBoolean(data, type, row, meta); } },
                { "name": "DiscountTypeId", "data": "DiscountTypeIdDiscountTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Discount", "data": "Discount", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "BestLocationScoreId", "data": "BestLocationScoreIdBestLocationScoreName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "PopularLocationScoreId", "data": "PopularLocationScoreIdPopularLocationScoreName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "LastVisitDate", "data": "LastVisitDate", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "OwnerFirstName", "data": "OwnerFirstName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "OwnerLastName", "data": "OwnerLastName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "OwnerNickName", "data": "OwnerNickName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "OwnerPhone1", "data": "OwnerPhone1", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "OwnerPhone2", "data": "OwnerPhone2", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "CostPrice", "data": "CostPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "OrganizationId", "data": "OrganizationId", "render": function (data, type, row, meta) { return FormatInt64(data, type, row, meta); } },
                { "name": "ActiveStatusId", "data": "ActiveStatusIdActiveStatusName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "DisplayIndex", "data": "DisplayIndex", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "CreatedOn", "data": "CreatedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "CreatedBy", "data": "CreatedBySystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ModifiedOn", "data": "ModifiedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "ModifiedBy", "data": "ModifiedBySystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
            ],
            "cache": false,
            fnDrawCallback: function( settings, json ) {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $(".checkall").iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                }).on('ifChanged', function (e) {
                    // Get the field name
                    var isChecked = e.currentTarget.checked;
                    if (isChecked) {
                        $('.chkProductId').iCheck('check');
                    } else {
                        $('.chkProductId').iCheck('uncheck');
                    }
                });
            },
            initComplete: function(settings, json) {
                $("#tbResult_filter").html($("#search-section .grid-menu").html());
            }
        });

    }

    function gotoSearch() {
        $('.checkall').iCheck('uncheck');
        _showSearch(true);
        tbResult.ajax.url("@Url.Content("~/product/search?")" + formParams("#search-form .input-search")).load();
    }

    function gotoAdd() {
        _showSearch(false);
        ajaxPartialLoad("@Url.Content("~/product/find/0")", "addedit-section", _gotoAdd)
    }

    // Callback after ajax completed
    function _gotoAdd(html) {
        _initialAddEditForm();

    }

    function gotoCopy() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/product/copy/")" + id, "addedit-section", _gotoCopy)
        }
    }

    // Callback after ajax completed
    function _gotoCopy(html) {
        _initialAddEditForm();
    }

    function gotoEdit() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/product/find/")" + id, "addedit-section", _gotoEdit)
        }
    }

    // Callback after ajax completed
    function _gotoEdit(html) {
        _initialAddEditForm();
    }

    function gotoEditById(id) {
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/product/find/")" + id, "addedit-section", _gotoEditById)
        }
    }

    // Callback after ajax completed
    function _gotoEditById(html) {
        _initialAddEditForm();
    }

    function gotoActive(activeId) {
        var ids = getCheckedMultiple("selectItem",true);
        if (ids != "") {
            var activeMessage = activeId==1?'active':'Inactive';
            if (confirm("Would you like to " + activeMessage + " data?")) {
                ajaxUrlRequest("@Url.Content("~/product/active?")id="+activeId+"&ids=" + ids, _gotoActive);
            }
        }
    }

    // Callback after ajax completed
    function _gotoActive(data) {
        if (data.StatusCode == "0")
        {
            gotoSearch();
        }
        else
        {
            alert(data.Message);
        }
    }

    function gotoDelete() {
        var ids = getCheckedMultiple("selectItem",true);
        if (ids != "") {
            if (confirm("Would you like to delete data?")) {
                ajaxUrlRequest("@Url.Content("~/product/delete?ids=")" + ids, _gotoDelete);
            }
        }
    }

    // Callback after ajax completed
    function _gotoDelete(data) {
        if (data.StatusCode == "0")
        {
            gotoSearch();
        }
        else
        {
            alert(data.Message);
        }
    }

    function gotoExportExcel() {
        var ids = getCheckedMultiple("selectItem",false);
        location.href = "@Url.Content("~/product/exportexcel?")ids=" + ids+"&" + formParams("#search-form .input-search");
    }


    function _showSearch(_showSearch) {
        if (_showSearch) {
            $("#search-section").show();
            $("#addedit-section").hide();
        } else {
            $("#search-section").hide();
            $("#addedit-section").show();
        }
    }

</script>
