﻿@model Library.Winplus.syslib.customize.homepage.model.HomePage
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Request, Session.SessionID);
    
}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" src="@Url.Content("~/resource/img/profile_small.png")" style="width:80px;" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@loginUser.User.SystemUserName</strong>
                            </span>
                            <span class="text-muted text-xs block">
                                @loginUser.User.SystemRoleIdSystemRoleName
                                <b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="javascript:gotoUpdateProfile();">Edit Profile</a></li>
                        <li><a href="@Url.Content("~/LoginUser/Logout")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    AdEZY
                </div>
            </li>
            @foreach (var MainMenu in Model.lstDisplaySystemParentMenu)
            {
                if (!MainMenu.ParentIsHidden)
                {
                <li>
                    <a href="@Url.Content("@MainMenu.MenuUrl")">
                        <i class="fa @MainMenu.IconName"></i>
                        <span class="nav-label">@MainMenu.SystemParentMenuName</span>
                        <span class="fa arrow"></span>
                    </a>
                    @if (MainMenu.lstDisplaySystemMenu.Count > 0)
                    {
                        <ul class="nav nav-second-level collapse">
                            @foreach (var SubMenu in MainMenu.lstDisplaySystemMenu)
                            {
                                if (!SubMenu.IsHidden)
                                {
                                <li>
                                    <a href="javascript:navigateTo('@Url.Content(SubMenu.MenuUrl)')">
                                        <i class="fa fa-angle-right"></i>
                                        @SubMenu.SystemMenuName
                                    </a>
                                </li>
                                }
                            }
                        </ul>
                    }
                </li>
                }
            }

            <li class="special_link">
                <a href="#"><i class="fa fa-windows"></i><span class="nav-label">ADEZY.COM</span></a>
            </li>
        </ul>

    </div>
</nav>
