﻿
         <script src="@Url.Content("~/Resource/js/jquery-2.1.1.js")"></script>
         <script src="@Url.Content("~/Resource/js/bootstrap.min.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/metisMenu/jquery.metisMenu.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/slimscroll/jquery.slimscroll.min.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/jeditable/jquery.jeditable.js")"></script>
         
         <!-- util scripts -->
         <script src="@Url.Content("~/Resource/js/util/dateformat-util.js")"></script>
         <script src="@Url.Content("~/Resource/js/util/ajax-util.js")"></script>
         <script src="@Url.Content("~/Resource/js/util/form-util.js")"></script>
         <script src="@Url.Content("~/Resource/js/util/custom-table.js")"></script>

	     <!-- Custom and plugin javascript -->
         <script src="@Url.Content("~/Resource/js/inspinia.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/pace/pace.min.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/iCheck/icheck.min.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/dataTables/datatables.min.js")"></script>
         
         
         <script src="@Url.Content("~/Resource/js/plugins/chosen/chosen.jquery.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/jsKnob/jquery.knob.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/jasny/jasny-bootstrap.min.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/datapicker/bootstrap-datepicker.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/nouslider/jquery.nouislider.min.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/switchery/switchery.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/ionRangeSlider/ion.rangeSlider.min.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/colorpicker/bootstrap-colorpicker.min.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/clockpicker/clockpicker.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/cropper/cropper.min.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/fullcalendar/moment.min.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/daterangepicker/daterangepicker.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/select2/select2.full.min.js")"></script>
         <script src="@Url.Content("~/Resource/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js")"></script>


        <!-- Ladda -->
        <script src="@Url.Content("~/Resource/js/plugins/ladda/spin.min.js")"></script>
        <script src="@Url.Content("~/Resource/js/plugins/ladda/ladda.min.js")"></script>
        <script src="@Url.Content("~/Resource/js/plugins/ladda/ladda.jquery.min.js")"></script>


        <script src="@Url.Content("~/Resource/js/plugins/summernote/summernote.min.js")"></script>

        <script src="@Url.Content("~/Resource/js/plugins/jsTree/jstree.min.js")"></script>

        <script src="@Url.Content("~/Resource/js/plugins/c3/c3.min.js")"></script>
        <script src="@Url.Content("~/Resource/js/plugins/d3/d3.min.js")"></script>