﻿@model Library.Winplus.syslib.customize.homepage.model.HomePage
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Request, Session.SessionID);
    Int64? PublicOrganizationId = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetLongConfig(loginUser, Library.Winplus.syslib.customize.systemconfig.keys.SystemConfigKey.PublicOrganizationId);
}

<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
	    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
	</div>
	    <ul class="nav navbar-top-links navbar-right">
	        <li>
	            <span class="m-r-sm text-muted welcome-message">@loginUser.User.OrganizationName</span>
                <span class="m-r-sm text-muted welcome-message" id="show-timmer">: DD-MM-YYYY HH:mm:ss</span>
	        </li>
	        <li>
	            <a href="@Url.Content("~/LoginUser/Logout")">
	                <i class="fa fa-sign-out"></i> Log out
	            </a>
	        </li>
	    </ul>
	</nav>
</div>
<script>
    function startTime() {
        var now = new moment();
        document.getElementById('show-timmer').innerHTML = ": "+now.format("DD-MM-YYYY HH:mm:ss");
        t = setTimeout(function () {
            startTime()
        }, 1000);
    }
    startTime();
</script>