﻿
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/bootstrap.min.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/font-awesome/css/font-awesome.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/animate.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/style.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/iCheck/custom.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/dataTables/datatables.min.css")" />
		
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/chosen/chosen.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/colorpicker/bootstrap-colorpicker.min.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/cropper/cropper.min.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/switchery/switchery.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/jasny/jasny-bootstrap.min.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/nouslider/jquery.nouislider.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/datapicker/datepicker3.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/ionRangeSlider/ion.rangeSlider.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/clockpicker/clockpicker.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/daterangepicker/daterangepicker-bs3.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/select2/select2.min.css")" />
		<link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/ladda/ladda-themeless.min.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/summernote/summernote.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/summernote/summernote-bs3.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/jsTree/style.min.css")" />

		<link rel="stylesheet" href="@Url.Content("~/Resource/css/custom.css")" />
      
        <link rel="stylesheet" href="@Url.Content("~/Resource/css/plugins/c3/c3.min.css")"  />
