﻿<div class="modal" id="modal-ajax-loding" tabindex="-1" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <img src="@Url.Content("~/Resource/img/ajax-loader.gif")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function AjaxLoadingVisible(isShow) {
        if (isShow) {
            $("#modal-ajax-loding").modal("show");
        } else {
            $("#modal-ajax-loding").modal("hide");
        }
    }
</script>
<style>
    .modal-backdrop
    {
        background-color:transparent;
    }
</style>