@model Library.Winplus.syslib.standard.saleproduct.model.SaleProduct
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Request, Session.SessionID);
    Int64? PublicOrganizationId = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetLongConfig(loginUser, Library.Winplus.syslib.customize.systemconfig.keys.SystemConfigKey.PublicOrganizationId);
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/saleproduct/save")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            @if(Model.SaleProductId.HasValue){
                                @MyResources.Winplus.Resource.Update
                            }else{
                                @MyResources.Winplus.Resource.Create
                            }
                            @Html.DisplayNameFor(model => model.SaleProductName)
                        </h5>
                    </div>
                    <div class="col-sm-6" style="text-align:right;">
                        <div class="form-group">
                            <button class="btn btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            @if (Model.HasAuthorize(loginUser, "SaleProduct", "Add") || Model.HasAuthorize(loginUser, "SaleProduct", "Edit"))
                            {
                                <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
            <div class="row">
                    @Html.HiddenFor(model => model.SaleProductId)
                    @Html.HiddenFor(model => model.VersionNumber)

	                @if(!Model.IsHiddenName){
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SaleProductName)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.SaleProductName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.SaleProductName),@required=""})
		                </div>
	                </div>
	                }
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SaleTransactionId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('SaleTransaction','SaleTransactionId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.SaleTransactionId,Model.GetSelectedItems("SaleTransaction", Model.SaleTransactionId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CustomerId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Customer','CustomerId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.CustomerId,Model.GetSelectedItems("Customer", Model.CustomerId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CurrencyId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Currency','CurrencyId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.CurrencyId,Model.GetSelectedItems("Currency", Model.CurrencyId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BaseCurrencyId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Currency','BaseCurrencyId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.BaseCurrencyId,Model.GetSelectedItems("Currency", Model.BaseCurrencyId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.UnitPrice)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.UnitPrice, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.UnitPrice),@type="number",@step="any",@required=""})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BaseUnitPrice)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BaseUnitPrice, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BaseUnitPrice),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Quantity)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.Quantity, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Quantity),@type="number",@required=""})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.TotalPrice)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.TotalPrice, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.TotalPrice),@type="number",@step="any",@required=""})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BaseTotalPrice)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BaseTotalPrice, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BaseTotalPrice),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LabelVat)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LabelVat, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LabelVat),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BaseLabelVat)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BaseLabelVat, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BaseLabelVat),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.TotalLabelVat)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.TotalLabelVat, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.TotalLabelVat),@type="number",@step="any",@required=""})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BaseTotalLabelVat)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BaseTotalLabelVat, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BaseTotalLabelVat),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.VatLabelTypeId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('VatLabelType','VatLabelTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.VatLabelTypeId,Model.GetSelectedItems("VatLabelType", Model.VatLabelTypeId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ProductId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Product','ProductId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ProductId,Model.GetSelectedItems("Product", Model.ProductId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SellerId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Seller','SellerId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.SellerId,Model.GetSelectedItems("Seller", Model.SellerId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ScoreId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Score','ScoreId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ScoreId,Model.GetSelectedItems("Score", Model.ScoreId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ProductPricePeriodTypeId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('ProductPricePeriodType','ProductPricePeriodTypeId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ProductPricePeriodTypeId,Model.GetSelectedItems("ProductPricePeriodType", Model.ProductPricePeriodTypeId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BeginAdvDate)</label>
		                <div class="col-sm-8">
                           <table>
                               <tr>
                                   <td>
                                       <div class="input-group date">
                                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                           @Html.TextBoxFor(model => model.BeginAdvDateText, new { @class = "form-control"  })
                                       </div>
                                   </td>
                                   <td>
                                       <div class="input-group clockpicker" data-autoclose="true" style="margin-left:5px;">
                                           <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                           @Html.TextBoxFor(model => model.BeginAdvDateTimeText, new { @class = "form-control" , @style="width:80px;" })
                                       </div>
                                   </td>
                               </tr>
                           </table>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.EndAdvDate)</label>
		                <div class="col-sm-8">
                           <table>
                               <tr>
                                   <td>
                                       <div class="input-group date">
                                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                           @Html.TextBoxFor(model => model.EndAdvDateText, new { @class = "form-control"  })
                                       </div>
                                   </td>
                                   <td>
                                       <div class="input-group clockpicker" data-autoclose="true" style="margin-left:5px;">
                                           <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                                           @Html.TextBoxFor(model => model.EndAdvDateTimeText, new { @class = "form-control" , @style="width:80px;" })
                                       </div>
                                   </td>
                               </tr>
                           </table>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.SaleProductStateId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('SaleProductState','SaleProductStateId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.SaleProductStateId,Model.GetSelectedItems("SaleProductState", Model.SaleProductStateId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.OperationStatusId)</label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('OperationStatus','OperationStatusId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.OperationStatusId,Model.GetSelectedItems("OperationStatus", Model.OperationStatusId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.MainImageNo)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.MainImageNo, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.MainImageNo)})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.MonthlyPrice)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.MonthlyPrice, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.MonthlyPrice),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BaseMonthlyPrice)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BaseMonthlyPrice, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BaseMonthlyPrice),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.TotalMonth)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.TotalMonth, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.TotalMonth),@type="number"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ActiveStatusId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('ActiveStatus','ActiveStatusId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ActiveStatusId,Model.GetSelectedItems("ActiveStatus", Model.ActiveStatusId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                @if(!Model.IsHiddenDisplayIndex){
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DisplayIndex)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.DisplayIndex, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.DisplayIndex),@type="number"})
		                </div>
	                </div>
	                }
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BaseMonthlyDiscount)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BaseMonthlyDiscount, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BaseMonthlyDiscount),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BaseTotalDiscount)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BaseTotalDiscount, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BaseTotalDiscount),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.BaseTotalVat)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.BaseTotalVat, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.BaseTotalVat),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.MonthlyDiscount)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.MonthlyDiscount, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.MonthlyDiscount),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.TotalDiscount)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.TotalDiscount, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.TotalDiscount),@type="number",@step="any"})
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.TotalVat)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.TotalVat, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.TotalVat),@type="number",@step="any"})
		                </div>
	                </div>
            </div>
                
            <div class="row" style="border:1px solid #E7EAEC;padding-top:10px;">
                <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.OrganizationId)</label>
                        @if (PublicOrganizationId.HasValue && loginUser.OrganizationId.Value == PublicOrganizationId.Value)
                        {
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.OrganizationId,Model.GetSelectedItems("Organization", Model.OrganizationId,""), new { @class = "form-control" })
                            </div>
                        }else{
                            <div class="col-sm-8 value-padding">
			                    @Html.ValueFor(model=>model.OrganizationName)
                                @Html.HiddenFor(model => model.OrganizationId)
                            </div>
                        }
		           
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.VersionNumber)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model=>model.VersionNumber)
		            </div>
	            </div>
                <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model=>model.CreatedOn)
		            </div>
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model=>model.CreatedBySystemUserName)
		            </div>
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model=>model.ModifiedOn)
		            </div>
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model=>model.ModifiedBySystemUserName)
		            </div>
	            </div>
            </div>
        </div>
        </form>
    </div>
</div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
        
    }

    function _initialSubmitForm() {
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
