@model Library.Winplus.syslib.standard.saleproduct.search.SaleProductSearch
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Request, Session.SessionID);
}

@Html.Partial("~/Views/standard/saleproduct/import.cshtml",Model)

<div class="row" id="addedit-section">

</div>

<div class="row" id="search-section">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@MyResources.Winplus.Resource.Search @Html.DisplayNameFor(model => model.search.SaleProductName)</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <section class="content-header">
                        <div class="box box-default color-palette-box">
                            <div class="box-body">
                                <div class="row">
                                    <form id="search-form">
                                        <!-- Advance Search -->
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div id="advance-search-form" class="collapse">
                                                        <a href="#" data-toggle="collapse" data-target="#advance-search-form">@MyResources.Winplus.Resource.AdvanceSearch</a>
                                                        <div style="height: 3px;"></div>
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SaleProductName)</label>
                                                                    @Html.TextBoxFor(model => model.search.SaleProductName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SaleTransactionId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SaleTransaction','search_SaleTransactionId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.SaleTransactionId,Model.GetSelectedItems("SaleTransaction", Model.search.SaleTransactionId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CustomerId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Customer','search_CustomerId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.CustomerId,Model.GetSelectedItems("Customer", Model.search.CustomerId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CurrencyId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Currency','search_CurrencyId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.CurrencyId,Model.GetSelectedItems("Currency", Model.search.CurrencyId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BaseCurrencyId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Currency','search_BaseCurrencyId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.BaseCurrencyId,Model.GetSelectedItems("Currency", Model.search.BaseCurrencyId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.UnitPrice)</label>
                                                                    @Html.TextBoxFor(model => model.search.UnitPrice, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BaseUnitPrice)</label>
                                                                    @Html.TextBoxFor(model => model.search.BaseUnitPrice, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Quantity)</label>
                                                                    @Html.TextBoxFor(model => model.search.Quantity, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.TotalPrice)</label>
                                                                    @Html.TextBoxFor(model => model.search.TotalPrice, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BaseTotalPrice)</label>
                                                                    @Html.TextBoxFor(model => model.search.BaseTotalPrice, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.TotalLabelVat)</label>
                                                                    @Html.TextBoxFor(model => model.search.TotalLabelVat, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BaseTotalLabelVat)</label>
                                                                    @Html.TextBoxFor(model => model.search.BaseTotalLabelVat, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.VatLabelTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('VatLabelType','search_VatLabelTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.VatLabelTypeId,Model.GetSelectedItems("VatLabelType", Model.search.VatLabelTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProductId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Product','search_ProductId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ProductId,Model.GetSelectedItems("Product", Model.search.ProductId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SellerId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Seller','search_SellerId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.SellerId,Model.GetSelectedItems("Seller", Model.search.SellerId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ScoreId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Score','search_ScoreId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ScoreId,Model.GetSelectedItems("Score", Model.search.ScoreId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProductPricePeriodTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('ProductPricePeriodType','search_ProductPricePeriodTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ProductPricePeriodTypeId,Model.GetSelectedItems("ProductPricePeriodType", Model.search.ProductPricePeriodTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BeginAdvDate)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_BeginAdvDate_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_BeginAdvDate_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.EndAdvDate)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_EndAdvDate_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_EndAdvDate_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SaleProductStateId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SaleProductState','search_SaleProductStateId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.SaleProductStateId,Model.GetSelectedItems("SaleProductState", Model.search.SaleProductStateId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.OperationStatusId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('OperationStatus','search_OperationStatusId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.OperationStatusId,Model.GetSelectedItems("OperationStatus", Model.search.OperationStatusId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.MainImageNo)</label>
                                                                    @Html.TextBoxFor(model => model.search.MainImageNo, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.MonthlyPrice)</label>
                                                                    @Html.TextBoxFor(model => model.search.MonthlyPrice, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BaseMonthlyPrice)</label>
                                                                    @Html.TextBoxFor(model => model.search.BaseMonthlyPrice, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.TotalMonth)</label>
                                                                    @Html.TextBoxFor(model => model.search.TotalMonth, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.VersionNumber)</label>
                                                                    @Html.TextBoxFor(model => model.search.VersionNumber, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.OrganizationId)</label>
                                                                    @Html.TextBoxFor(model => model.search.OrganizationId, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ActiveStatusId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('ActiveStatus','search_ActiveStatusId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ActiveStatusId,Model.GetSelectedItems("ActiveStatus", Model.search.ActiveStatusId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.DisplayIndex)</label>
                                                                    @Html.TextBoxFor(model => model.search.DisplayIndex, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CreatedOn)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_CreatedOn_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_CreatedOn_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CreatedBy)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SystemUser','search_CreatedBy')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.CreatedBy,Model.GetSelectedItems("SystemUser", Model.search.CreatedBy,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ModifiedOn)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ModifiedOn_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ModifiedOn_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ModifiedBy)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SystemUser','search_ModifiedBy')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ModifiedBy,Model.GetSelectedItems("SystemUser", Model.search.ModifiedBy,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Basic search by text -->
                                        <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="form-group">
                                                <input type="text" id="SearchText" class="form-control input-search" placeholder="@MyResources.Winplus.Resource.TextToSearch" />
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" aria-label="Advance Search" data-toggle="collapse" data-target="#advance-search-form">
                                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                                </button>
                                                <button type="button" onclick="javascript:gotoSearch();" class="btn btn-default" aria-label="Search">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <div style="height: 3px;"></div>
                            
                            <!-- Grid view -->
                            <section class="content" style="overflow-x:auto;">
                                <table id="tbResult" class="display nowrap hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                            <th><input type="checkbox" class="checkall" /></th>
                                            <th>@Html.DisplayNameFor(model => model.search.SaleProductName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CustomerId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SellerId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BeginAdvDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.EndAdvDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.TotalMonth)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProductPricePeriodTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CurrencyId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.MonthlyPrice)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.TotalPrice)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BaseCurrencyId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BaseMonthlyPrice)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BaseTotalPrice)</th>
                                            <th>@MyResources.Winplus.Resource.CommissionPrice</th>
                                            <th>@MyResources.Winplus.Resource.SellerAmount</th>
                                            <th>@Html.DisplayNameFor(model => model.search.VatLabelTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SaleProductStateId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.OperationStatusId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedBy)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

    <div style="display: none" class="grid-menu">
        @if (Model.HasAuthorize(loginUser, "SaleProduct", "Add"))
        {
            <button class="btn btn-success btn-circle" type="button" onclick="gotoAdd();" title="Add"><i class="fa fa-plus"></i></button>
            <button class="btn btn-success btn-circle" type="button" onclick="gotoCopy();" title="Copy"><i class="fa fa-copy"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "SaleProduct", "Edit"))
        {
            <button class="btn btn-warning btn-circle" type="button" onclick="gotoEdit();" title="Edit"><i class="fa fa-edit"></i></button>
            <button class="btn btn-primary btn-circle" type="button" onclick="gotoActive(1);" title="Active"><i class="fa fa-check" ></i></button>
            <button class="btn btn-default btn-circle" type="button" onclick="gotoActive(2);" title="Inactive"><i class="fa fa-times"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "SaleProduct", "Delete"))
        {
            <button class="btn btn-danger btn-circle" type="button" onclick="gotoDelete();" title="Delete"><i class="fa fa-minus"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "SaleProduct", "Export"))
        {
            <button class="btn btn-primary btn-circle" type="button" onclick="gotoExportExcel();" title="Export Excel"><i class="fa fa-table"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "SaleProduct", "Import"))
        {
            <button class="btn btn-info btn-circle" type="button" data-toggle="modal" data-target="#modal-import" title="Import Excel"><i class="fa fa-database"></i></button>
        }
    </div>

</div>



<script>

    // After menu click and ajax loading completed...
    function singlePageLoad() {
        _initTbResult();
        bindingStandardField();

        $('#search-section .input-search').unbind('keyup');
        $("#search-section .input-search").keyup(function (event) {
            if (event.keyCode == 13) {
                gotoSearch();
            }
        });
    }

    var tbResult = null;
    function _initTbResult() {
        tbResult = $('#tbResult').DataTable({
            "serverSide": true,
            "bFilter": true,
            "columnDefs": [
                { "targets": [1], "orderable": false }
            ],
            "order": [[ 0, "desc" ]],
            "ajax": {
                "url": '@Url.Content("~/saleproduct/search?")'+ formParams("#search-form .input-search"),
                "type": "POST"
            },
            "columns": [
                { "name": "SaleProductId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "", "width": "5px", "data": "SaleProductId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "SaleProductId","selectItem"); } },
                { "name": "Product", "data": "Product", "render": function (data, type, row, meta) { return FormatEditById(data, type, row, meta, "SaleProductId"); } },
                { "name": "Customer", "data": "Customer", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Seller", "data": "Seller", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BeginAdvDate", "data": "BeginAdvDate", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "EndAdvDate", "data": "EndAdvDate", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "TotalMonth", "data": "TotalMonth", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "PeriodType", "data": "PeriodType", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Currency", "data": "Currency", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "MonthlyPrice", "data": "MonthlyPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "TotalPrice", "data": "TotalPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "BaseCurrency", "data": "BaseCurrency", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BaseMonthlyPrice", "data": "BaseMonthlyPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "BaseTotalPrice", "data": "BaseTotalPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "CommissionPrice", "data": "CommissionPrice", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "SellerAmount", "data": "SellerAmount", "render": function (data, type, row, meta) { return FormatDecimal(data, type, row, meta); } },
                { "name": "VatLabelType", "data": "VatLabelType", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "SaleState", "data": "SaleState", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "OperationStatus", "data": "OperationStatus", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "CreatedOn", "data": "CreatedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "CreatedBy", "data": "CreatedBySystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
            ],
            "cache": false,
            fnDrawCallback: function( settings, json ) {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $(".checkall").iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                }).on('ifChanged', function (e) {
                    // Get the field name
                    var isChecked = e.currentTarget.checked;
                    if (isChecked) {
                        $('.chkSaleProductId').iCheck('check');
                    } else {
                        $('.chkSaleProductId').iCheck('uncheck');
                    }
                });
            },
            initComplete: function(settings, json) {
                $("#tbResult_filter").html($("#search-section .grid-menu").html());
            }
        });

    }

    function gotoSearch() {
        $('.checkall').iCheck('uncheck');
        _showSearch(true);
        tbResult.ajax.url("@Url.Content("~/saleproduct/search?")" + formParams("#search-form .input-search")).load();
    }

    function gotoAdd() {
        _showSearch(false);
        ajaxPartialLoad("@Url.Content("~/saleproduct/find/0")", "addedit-section", _gotoAdd)
    }

    // Callback after ajax completed
    function _gotoAdd(html) {
        _initialAddEditForm();

    }

    function gotoCopy() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/saleproduct/copy/")" + id, "addedit-section", _gotoCopy)
        }
    }

    // Callback after ajax completed
    function _gotoCopy(html) {
        _initialAddEditForm();
    }

    function gotoEdit() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/saleproduct/find/")" + id, "addedit-section", _gotoEdit)
        }
    }

    // Callback after ajax completed
    function _gotoEdit(html) {
        _initialAddEditForm();
    }

    function gotoEditById(id) {
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/saleproduct/find/")" + id, "addedit-section", _gotoEditById)
        }
    }

    // Callback after ajax completed
    function _gotoEditById(html) {
        _initialAddEditForm();
    }

    function gotoActive(activeId) {
        var ids = getCheckedMultiple("selectItem",true);
        if (ids != "") {
            var activeMessage = activeId==1?'active':'Inactive';
            if (confirm("Would you like to " + activeMessage + " data?")) {
                ajaxUrlRequest("@Url.Content("~/saleproduct/active?")id="+activeId+"&ids=" + ids, _gotoActive);
            }
        }
    }

    // Callback after ajax completed
    function _gotoActive(data) {
        if (data.StatusCode == "0")
        {
            gotoSearch();
        }
        else
        {
            alert(data.Message);
        }
    }

    function gotoDelete() {
        var ids = getCheckedMultiple("selectItem",true);
        if (ids != "") {
            if (confirm("Would you like to delete data?")) {
                ajaxUrlRequest("@Url.Content("~/saleproduct/delete?ids=")" + ids, _gotoDelete);
            }
        }
    }

    // Callback after ajax completed
    function _gotoDelete(data) {
        if (data.StatusCode == "0")
        {
            gotoSearch();
        }
        else
        {
            alert(data.Message);
        }
    }

    function gotoExportExcel() {
        var ids = getCheckedMultiple("selectItem",false);
        location.href = "@Url.Content("~/saleproduct/exportexcel?")ids=" + ids+"&" + formParams("#search-form .input-search");
    }


    function _showSearch(_showSearch) {
        if (_showSearch) {
            $("#search-section").show();
            $("#addedit-section").hide();
        } else {
            $("#search-section").hide();
            $("#addedit-section").show();
        }
    }

</script>
