﻿@model Library.Winplus.syslib.customize.loginuser.model.AttempLogin
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Request, Session.SessionID);
    string CopyRight = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig(loginUser, "CopyRight");
    if(CopyRight==null){
        CopyRight = "My Copyright Co.,Ltd. &copy; 2017";
    }

    string AppTitle = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig(loginUser, "AppTitle");
    if (AppTitle == null)
    {
        AppTitle = "Incident Report - System";
    }

    string ProgramName = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig(loginUser, "ProgramName");
    if (ProgramName == null)
    {
        ProgramName = "INCIDENT REPORT <br />MANAGEMENT";
    }
}
<!DOCTYPE html>
<html>

<head>
    <link rel='shortcut icon' type='image/x-icon' href='@Url.Content("~/Resource/img/favicon.ico")' />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Admin - @AppTitle</title>
    
    @Html.Partial("~/Views/_shared/_IncludeCss.cshtml")
    <style>
        .span-required
        {
            padding-left:3px;
            color:red;
        }
        .value-padding
        {
            padding-top:7px;
            padding-bottom:9px;
        }
        .IRHeader {
            text-align:center;
            word-wrap:break-word;
            word-break:break-all;
            font-size:18px;
            font-weight:bold;
            color:#55C4C9;
            font-family:Arial Black;
        }
    </style>
</head>

   <!-- @Server.MapPath("~/Resource/") -->
<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div style="margin-top:30%">
           
            <form class="m-t" role="form" action="@Url.Content("~/loginuser/checklogin")" method="post" onsubmit="$('#btn-submit').ladda().ladda('start');">
                 <div class="form-group IRHeader">
                    <img alt="image" src="@Url.Content("~/resource/img/profile_small.png")" style="width:120px;" />
                </div>
                <div class="form-group IRHeader">
                    @Html.Raw(ProgramName)
                </div>
                <br />
                <div class="form-group">
			        @Html.TextBoxFor(model=>model.UserName, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.UserName),@required=""})
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model=>model.Password, new{@class = "form-control",@placeholder=@Html.DisplayNameFor(model => model.Password),@required="",@value="1234"})
                </div>
                <br />
                <button id="btn-submit" type="submit" class="btn btn-primary block full-width m-b ladda-button btn-primary" data-style="expand-left">@MyResources.Winplus.Resource.Login</button>
            </form>
            <p class="m-t"> <small>@Html.Raw(CopyRight)</small> </p>
        </div>
    </div>
    
    @Html.Partial("~/Views/_shared/_IncludeJs.cshtml")
    @if (!String.IsNullOrEmpty(Model.ErrorMessage))
    {
        <script>
            alert("@Model.ErrorMessage");
        </script>
    }

</body>
    
  	
</html>
