@model Library.Winplus.syslib.standard.gender.search.GenderSearch

<div class="modal inmodal" id="modal-import" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <i class="fa fa-file-excel-o modal-icon" style="color:#1F6D42;"></i>
                <h4 class="modal-title">Import excel file</h4>
            </div>
            <form id="importform-1" method="post" class="form-horizontal" action="@Url.Content("~/gender/import")" onsubmit="ajaxSubmitForm(event,this,'btn-import',_gotoImport);" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
		                    <label class="col-sm-4 control-label">
                               @MyResources.Winplus.Resource.ExcelFileUpload
		                    </label>
		                    <div class="col-sm-8">
			                    <input type="file" id="FileDataUpload" class="form-control" name="FileDataUpload" accept=".xlsx" />
		                    </div>
	                    </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-import-close" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" id="btn-import" class="btn ladda-button btn-primary" data-style="expand-left">Import</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    function _gotoImport(data, status) {
        if (data.StatusCode == "0") {
            $("#FileDataUpload").val('');
            alert("@MyResources.Winplus.Resource.ImportSuccess");
            $('#modal-import').modal('hide');
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
