﻿@model Library.Winplus.syslib.customize.homepage.model.HomePage
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Request, Session.SessionID);
    string AppTitle = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetStringConfig(loginUser, "AppTitle");
    if(AppTitle==null){
        AppTitle = "Unknow - System";
    }
    
}

<!DOCTYPE html>
<html>

<head>
    <link rel='shortcut icon' type='image/x-icon' href='@Url.Content("~/Resource/img/favicon.ico")' />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Admin - @AppTitle</title>
    
    @Html.Partial("~/Views/_shared/_IncludeCss.cshtml",Model)
    
    @Html.Partial("~/Views/_shared/_IncludeJs.cshtml",Model)

    <style>
        .span-required
        {
            padding-left:3px;
            color:red;
        }
        .value-padding
        {
            padding-top:7px;
            padding-bottom:9px;
        }
        .hyperlink .input-group-addon:hover
        {
            cursor:pointer;
        }
    </style>
</head>

<!-- <body class="mini-navbar"> [will auto hide left menu bar]-->
<body class="">
    @Html.Partial("~/Views/customize/homepage/_include/_showimage.cshtml")
    @Html.Partial("~/Views/customize/homepage/_include/_choosedialog.cshtml",new Library.Winplus.syslib.standard.choosedialog.search.ChooseDialogSearch())
    @Html.Partial("~/Views/customize/homepage/_include/_jtreedialog.cshtml")
    @Html.Partial("~/Views/customize/homepage/_include/_changepassword.cshtml")

    <div id="wrapper">
        @Html.Partial("~/Views/_shared/_IncludeMenuLeftTop.cshtml",Model)

        <div id="page-wrapper" class="gray-bg">
            @Html.Partial("~/Views/_shared/_IncludeMenuHeader.cshtml",Model)

			<!-- Body here -->
            <div id="partialpage-form">

            </div>
        </div>
    </div>
    
  	
  	
    @if(!String.IsNullOrEmpty(Model.DefaultMenuUrl))
    {
          <script>
            /*<![CDATA[*/
            $(document).ready(function () {
                ajaxPartialLoad("@Url.Content(Model.DefaultMenuUrl)", "partialpage-form", ajaxLoadFormCompleted);
            });
          </script>
    }

    <script>

        /*<![CDATA[*/
        $(document).ready(function () {
            //window.location.hash = "no-back-button";
            //window.location.hash = "Again-No-back-button";//again because google chrome don't insert first hash into history
            //window.onhashchange = function () { window.location.hash = "no-back-button"; }
            window.onhashchange = function () {
                if (window.location.hash === "#" || window.location.hash === "") {
                    // #Hash To Ajax Load ...
                } else {
                    var url = window.location.hash;
                    url = url.substring(5, url.length);
                    navigateTo(url);
                }
            }
        });

        function ajaxLoadFormCompleted(html) {
            singlePageLoad();
        }


        function navigateTo(url) {
            var hash = "Page"+url;
            //alert(hash);
            window.location.hash = hash;
            ajaxPartialLoad(url, "partialpage-form", ajaxLoadFormCompleted);
        }
        /*]]>*/
    </script>

</body>

</html>
