@model Library.Winplus.syslib.standard.seller.search.SellerSearch
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Request, Session.SessionID);
}

@Html.Partial("~/Views/standard/seller/import.cshtml",Model)

<div class="row" id="addedit-section">

</div>

<div class="row" id="search-section">

    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@MyResources.Winplus.Resource.Search @Html.DisplayNameFor(model => model.search.SellerName)</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <section class="content-header">
                        <div class="box box-default color-palette-box">
                            <div class="box-body">
                                <div class="row">
                                    <form id="search-form">
                                        <!-- Advance Search -->
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div id="advance-search-form" class="collapse">
                                                        <a href="#" data-toggle="collapse" data-target="#advance-search-form">@MyResources.Winplus.Resource.AdvanceSearch</a>
                                                        <div style="height: 3px;"></div>
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SellerName)</label>
                                                                    @Html.TextBoxFor(model => model.search.SellerName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Password)</label>
                                                                    @Html.TextBoxFor(model => model.search.Password, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.FirstName)</label>
                                                                    @Html.TextBoxFor(model => model.search.FirstName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LastName)</label>
                                                                    @Html.TextBoxFor(model => model.search.LastName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.GenderId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Gender','search_GenderId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.GenderId,Model.GetSelectedItems("Gender", Model.search.GenderId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CitizenId)</label>
                                                                    @Html.TextBoxFor(model => model.search.CitizenId, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BirthDate)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_BirthDate_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_BirthDate_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Email)</label>
                                                                    @Html.TextBoxFor(model => model.search.Email, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CountryCodeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('CountryCode','search_CountryCodeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.CountryCodeId,Model.GetSelectedItems("CountryCode", Model.search.CountryCodeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.PhoneNo)</label>
                                                                    @Html.TextBoxFor(model => model.search.PhoneNo, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.Address)</label>
                                                                    @Html.TextBoxFor(model => model.search.Address, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CountryId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Country','search_CountryId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.CountryId,Model.GetSelectedItems("Country", Model.search.CountryId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ProvinceId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Province','search_ProvinceId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ProvinceId,Model.GetSelectedItems("Province", Model.search.ProvinceId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.DistrictId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('District','search_DistrictId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.DistrictId,Model.GetSelectedItems("District", Model.search.DistrictId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SubDistrictId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SubDistrict','search_SubDistrictId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.SubDistrictId,Model.GetSelectedItems("SubDistrict", Model.search.SubDistrictId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.PostalCodeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('PostalCode','search_PostalCodeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.PostalCodeId,Model.GetSelectedItems("PostalCode", Model.search.PostalCodeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.LanguageId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Language','search_LanguageId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.LanguageId,Model.GetSelectedItems("Language", Model.search.LanguageId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.SellerTypeId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SellerType','search_SellerTypeId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.SellerTypeId,Model.GetSelectedItems("SellerType", Model.search.SellerTypeId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CompanyName)</label>
                                                                    @Html.TextBoxFor(model => model.search.CompanyName, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.BankAccountId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('BankAccount','search_BankAccountId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.BankAccountId,Model.GetSelectedItems("BankAccount", Model.search.BankAccountId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.IsConfirmEmail)</label>
                                                                    <select class="form-control input-search" data-val="true" id="search_IsConfirmEmail">
                                                                        <option value=""></option>
                                                                        <option value="true">True</option>
                                                                        <option value="false">False</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ConfirmEmailDate)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ConfirmEmailDate_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ConfirmEmailDate_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CurrencyId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('Currency','search_CurrencyId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.CurrencyId,Model.GetSelectedItems("Currency", Model.search.CurrencyId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.VersionNumber)</label>
                                                                    @Html.TextBoxFor(model => model.search.VersionNumber, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.OrganizationId)</label>
                                                                    @Html.TextBoxFor(model => model.search.OrganizationId, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ActiveStatusId)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('ActiveStatus','search_ActiveStatusId')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ActiveStatusId,Model.GetSelectedItems("ActiveStatus", Model.search.ActiveStatusId,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.DisplayIndex)</label>
                                                                    @Html.TextBoxFor(model => model.search.DisplayIndex, new { @class = "form-control input-search" })
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CreatedOn)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_CreatedOn_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_CreatedOn_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.CreatedBy)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SystemUser','search_CreatedBy')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.CreatedBy,Model.GetSelectedItems("SystemUser", Model.search.CreatedBy,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ModifiedOn)</label>
                                                                    <div class="input-daterange input-group">
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ModifiedOn_From" style="height:34px;" value=""/>
                                                                        <span class="input-group-addon">to</span>
                                                                        <input type="text" class="input-sm form-control input-search" id="search_ModifiedOn_To" style="height:34px;" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-4">
                                                                <div class="form-group">
                                                                    <label>@Html.DisplayNameFor(model => model.search.ModifiedBy)</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon" onclick="openChooseDialog('SystemUser','search_ModifiedBy')"><i class="fa fa-filter"></i></span>
                                                                    @Html.DropDownListFor(model => model.search.ModifiedBy,Model.GetSelectedItems("SystemUser", Model.search.ModifiedBy,""), new { @class = "form-control input-search" })
                                                                </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Basic search by text -->
                                        <div class="col-sm-12">
                                        <div class="input-group">
                                            <div class="form-group">
                                                <input type="text" id="SearchText" class="form-control input-search" placeholder="@MyResources.Winplus.Resource.TextToSearch" />
                                            </div>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" aria-label="Advance Search" data-toggle="collapse" data-target="#advance-search-form">
                                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                                </button>
                                                <button type="button" onclick="javascript:gotoSearch();" class="btn btn-default" aria-label="Search">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                            <div style="height: 3px;"></div>
                            
                            <!-- Grid view -->
                            <section class="content" style="overflow-x:auto;">
                                <table id="tbResult" class="display nowrap hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                            <th><input type="checkbox" class="checkall" /></th>
                                            <th>@Html.DisplayNameFor(model => model.search.SellerName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Password)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.FirstName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LastName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.GenderId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CitizenId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BirthDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Email)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CountryCodeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.PhoneNo)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.Address)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CountryId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ProvinceId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.DistrictId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SubDistrictId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.PostalCodeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.LanguageId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.SellerTypeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CompanyName)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.BankAccountId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.IsConfirmEmail)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ConfirmEmailDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CurrencyId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.OrganizationId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ActiveStatusId)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.DisplayIndex)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.CreatedBy)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ModifiedOn)</th>
                                            <th>@Html.DisplayNameFor(model => model.search.ModifiedBy)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>

    </div>

    <div style="display: none" class="grid-menu">
        @if (Model.HasAuthorize(loginUser, "Seller", "Add"))
        {
            <button class="btn btn-success btn-circle" type="button" onclick="gotoAdd();" title="Add"><i class="fa fa-plus"></i></button>
            <button class="btn btn-success btn-circle" type="button" onclick="gotoCopy();" title="Copy"><i class="fa fa-copy"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "Seller", "Edit"))
        {
            <button class="btn btn-warning btn-circle" type="button" onclick="gotoEdit();" title="Edit"><i class="fa fa-edit"></i></button>
            <button class="btn btn-primary btn-circle" type="button" onclick="gotoActive(1);" title="Active"><i class="fa fa-check" ></i></button>
            <button class="btn btn-default btn-circle" type="button" onclick="gotoActive(2);" title="Inactive"><i class="fa fa-times"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "Seller", "Delete"))
        {
            <button class="btn btn-danger btn-circle" type="button" onclick="gotoDelete();" title="Delete"><i class="fa fa-minus"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "Seller", "Export"))
        {
            <button class="btn btn-primary btn-circle" type="button" onclick="gotoExportExcel();" title="Export Excel"><i class="fa fa-table"></i></button>
        }
        @if (Model.HasAuthorize(loginUser, "Seller", "Import"))
        {
            <button class="btn btn-info btn-circle" type="button" data-toggle="modal" data-target="#modal-import" title="Import Excel"><i class="fa fa-database"></i></button>
        }
    </div>

</div>



<script>

    // After menu click and ajax loading completed...
    function singlePageLoad() {
        _initTbResult();
        bindingStandardField();

        $('#search-section .input-search').unbind('keyup');
        $("#search-section .input-search").keyup(function (event) {
            if (event.keyCode == 13) {
                gotoSearch();
            }
        });
    }

    var tbResult = null;
    function _initTbResult() {
        tbResult = $('#tbResult').DataTable({
            "serverSide": true,
            "bFilter": true,
            "columnDefs": [
                { "targets": [1], "orderable": false }
            ],
            "order": [[ 0, "desc" ]],
            "ajax": {
                "url": '@Url.Content("~/seller/search?")'+ formParams("#search-form .input-search"),
                "type": "POST"
            },
            "columns": [
                { "name": "SellerId", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "", "width": "5px", "data": "SellerId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "SellerId","selectItem"); } },
                { "name": "SellerName", "data": "SellerName", "render": function (data, type, row, meta) { return FormatEditById(data, type, row, meta, "SellerId"); } },
                { "name": "Password", "data": "Password", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "FirstName", "data": "FirstName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "LastName", "data": "LastName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "GenderId", "data": "GenderIdGenderName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "CitizenId", "data": "CitizenId", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BirthDate", "data": "BirthDate", "render": function (data, type, row, meta) { return FormatDate(data, type, row, meta); } },
                { "name": "Email", "data": "Email", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "CountryCodeId", "data": "CountryCodeIdCountryCodeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "PhoneNo", "data": "PhoneNo", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "Address", "data": "Address", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "CountryId", "data": "CountryIdCountryName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ProvinceId", "data": "ProvinceIdProvinceName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "DistrictId", "data": "DistrictIdDistrictName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "SubDistrictId", "data": "SubDistrictIdSubDistrictName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "PostalCodeId", "data": "PostalCodeIdPostalCodeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "LanguageId", "data": "LanguageIdLanguageName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "SellerTypeId", "data": "SellerTypeIdSellerTypeName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "CompanyName", "data": "CompanyName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "BankAccountId", "data": "BankAccountIdBankAccountName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "IsConfirmEmail", "data": "IsConfirmEmail", "render": function (data, type, row, meta) { return FormatBoolean(data, type, row, meta); } },
                { "name": "ConfirmEmailDate", "data": "ConfirmEmailDate", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "CurrencyId", "data": "CurrencyIdCurrencyName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "OrganizationId", "data": "OrganizationId", "render": function (data, type, row, meta) { return FormatInt64(data, type, row, meta); } },
                { "name": "ActiveStatusId", "data": "ActiveStatusIdActiveStatusName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "DisplayIndex", "data": "DisplayIndex", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                { "name": "CreatedOn", "data": "CreatedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "CreatedBy", "data": "CreatedBySystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
                { "name": "ModifiedOn", "data": "ModifiedOn", "render": function (data, type, row, meta) { return FormatDateTime(data, type, row, meta); } },
                { "name": "ModifiedBy", "data": "ModifiedBySystemUserName", "render": function (data, type, row, meta) { return FormatString(data, type, row, meta); } },
            ],
            "cache": false,
            fnDrawCallback: function( settings, json ) {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });

                $(".checkall").iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                }).on('ifChanged', function (e) {
                    // Get the field name
                    var isChecked = e.currentTarget.checked;
                    if (isChecked) {
                        $('.chkSellerId').iCheck('check');
                    } else {
                        $('.chkSellerId').iCheck('uncheck');
                    }
                });
            },
            initComplete: function(settings, json) {
                $("#tbResult_filter").html($("#search-section .grid-menu").html());
            }
        });

    }

    function gotoSearch() {
        $('.checkall').iCheck('uncheck');
        _showSearch(true);
        tbResult.ajax.url("@Url.Content("~/seller/search?")" + formParams("#search-form .input-search")).load();
    }

    function gotoAdd() {
        _showSearch(false);
        ajaxPartialLoad("@Url.Content("~/seller/find/0")", "addedit-section", _gotoAdd)
    }

    // Callback after ajax completed
    function _gotoAdd(html) {
        _initialAddEditForm();

    }

    function gotoCopy() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/seller/copy/")" + id, "addedit-section", _gotoCopy)
        }
    }

    // Callback after ajax completed
    function _gotoCopy(html) {
        _initialAddEditForm();
    }

    function gotoEdit() {
        var id = getCheckedOneValue("selectItem");
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/seller/find/")" + id, "addedit-section", _gotoEdit)
        }
    }

    // Callback after ajax completed
    function _gotoEdit(html) {
        _initialAddEditForm();
    }

    function gotoEditById(id) {
        if (id != 0) {
            _showSearch(false);
            ajaxPartialLoad("@Url.Content("~/seller/find/")" + id, "addedit-section", _gotoEditById)
        }
    }

    // Callback after ajax completed
    function _gotoEditById(html) {
        _initialAddEditForm();
    }

    function gotoActive(activeId) {
        var ids = getCheckedMultiple("selectItem",true);
        if (ids != "") {
            var activeMessage = activeId==1?'active':'Inactive';
            if (confirm("Would you like to " + activeMessage + " data?")) {
                ajaxUrlRequest("@Url.Content("~/seller/active?")id="+activeId+"&ids=" + ids, _gotoActive);
            }
        }
    }

    // Callback after ajax completed
    function _gotoActive(data) {
        if (data.StatusCode == "0")
        {
            gotoSearch();
        }
        else
        {
            alert(data.Message);
        }
    }

    function gotoDelete() {
        var ids = getCheckedMultiple("selectItem",true);
        if (ids != "") {
            if (confirm("Would you like to delete data?")) {
                ajaxUrlRequest("@Url.Content("~/seller/delete?ids=")" + ids, _gotoDelete);
            }
        }
    }

    // Callback after ajax completed
    function _gotoDelete(data) {
        if (data.StatusCode == "0")
        {
            gotoSearch();
        }
        else
        {
            alert(data.Message);
        }
    }

    function gotoExportExcel() {
        var ids = getCheckedMultiple("selectItem",false);
        location.href = "@Url.Content("~/seller/exportexcel?")ids=" + ids+"&" + formParams("#search-form .input-search");
    }


    function _showSearch(_showSearch) {
        if (_showSearch) {
            $("#search-section").show();
            $("#addedit-section").hide();
        } else {
            $("#search-section").hide();
            $("#addedit-section").show();
        }
    }

</script>
