﻿@model Library.Winplus.syslib.standard.systemuser.model.SystemUser

<div class="form-group col-sm-6">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FirstName)<span class="span-required">*</span></label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.FirstName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.FirstName),@required="",@readonly="readonly"})
	</div>
</div>
<div class="form-group col-sm-6">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LastName)<span class="span-required">*</span></label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.LastName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LastName),@required="",@readonly="readonly"})
	</div>
</div>
<div class="form-group col-sm-6">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Email)<span class="span-required">*</span></label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.Email, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Email),@required="",@readonly="readonly"})
	</div>
</div>
<div class="form-group col-sm-6">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.PhoneNo)</label>
	<div class="col-sm-8">
		@Html.TextBoxFor(model=>model.PhoneNo, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.PhoneNo),@readonly="readonly"})
	</div>
</div>
<div class="form-group col-sm-6">
	<label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Password)<span class="span-required">*</span></label>
	<div class="col-sm-8">
		@Html.PasswordFor(model=>model.Password, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.Password),@required=""})
	</div>
</div>

<button id="btn-update-profile-hide" type="submit" class="btn btn-info ladda-button" data-style="expand-left" style="display:none;"></button>
