﻿<div class="modal inmodal" id="modal-update-profile" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" style="width:800px;">
            
                <div class="modal-content animated fadeIn">
                   <div class="modal-header">
                        <h4 class="modal-title">@MyResources.Winplus.Resource.UpdateProfile</h4>
                    </div>
                    
                    <div class="modal-body">
                        <div class="row">
                            <form id="form-change-password" method="post" action="@Url.Content("~/SystemUser/UpdateProfile")" onsubmit="ajaxSubmitForm(event,this,'btn-submit-change-password',UpdateProfileResponse);">
	                              

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button id="btn-submit-change-password" type="button" onclick="submitUpdateProfile();" class="btn btn-info ladda-button" data-style="expand-left">Save</button>
                    </div>
                </div>
        </div>
    </div>
    <script>
        function submitUpdateProfile() {
            try{
                document.getElementById('btn-update-profile-hide').click();
            } catch (e) {
                alert(e);
            }
        }

        function gotoUpdateProfile() {
            var url = "@Url.Content("~/SystemUser/InitialUpdateProfile")";
            ajaxPartialLoad(url, "form-change-password", gotoUpdateProfileResponse);
        }

        function gotoUpdateProfileResponse(data) {
            $("#modal-update-profile").modal("show");
            InitialIRAuthrorizeProfile();
        }

        function UpdateProfileResponse(data) {
            if (data.StatusCode == "0") {
                alert("@MyResources.Winplus.Resource.UpdateProfileCompleted");
                $("#modal-update-profile").modal("hide");
            } else {
                alert(data.Message);
            }
        }
    </script>