﻿ @model Library.Winplus.syslib.standard.choosedialog.search.ChooseDialogSearch


<div class="modal inmodal" id="modal-choose-dialog" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <h1 class="modal-title" style="float:left;font-size:14px;font-weight:bold;" id="modal-choose-dialog-header"></h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12" style="overflow-x:scroll;">
                        <table id="tbResult-choose-dialog" class="display nowrap hover table table-striped table-bordered" style="width:98%;">
                            <thead>
                                <tr>
                                    <th>@MyResources.Winplus.Resource.ColumnIndex</th>
                                    @*<th></th>*@
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-white" onclick="chooseDialogOKClick();">OK</button>*@
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    <script>

        var _dialogEntity = null;
        var _selectOptionField = null;
        var _dialogFilter = null;
        var _dialogOrderBy = null;
        var _dialogFireEvent = null;
        function openChooseDialog(entity, fieldId, dialogFireEvent, filter, orderBy) {
            _dialogEntity = entity;
            _dialogFireEvent = dialogFireEvent;

            if (IsNotEmpty(orderBy)) {
                _dialogOrderBy = encodeURI(orderBy);
            } else {
                _dialogOrderBy = "";
            }

            if (IsNotEmpty(filter)) {
                _dialogFilter = encodeURI(filter);
            } else {
                _dialogFilter = "";
            }

            _selectOptionField = $("#"+fieldId);

            _initTbResultChooseDialog();

            _getEntityName(entity);

            $("#tbResult-choose-dialog").hide();
            $("#input_dialog_filter").val("");
            $("#modal-choose-dialog").modal("show");
        }

        function _getEntityName(entity) {
            var url = "@Url.Content("~/ChooseDialog/GetEntityName?EntityName=")" + entity;
            ajaxUrlRequest(url, _getEntityNameResponse)
        }

        function _getEntityNameResponse(data) {
            if (data.StatusCode == "0") {
                $("#modal-choose-dialog-header").html(data.Message);
            } else {
                alert(data.Message);
                $("#modal-choose-dialog-header").html("");
            }
        }

        var tbResultChooseDialog = null;
        function _initTbResultChooseDialog() {
            if (tbResultChooseDialog == null) {
                tbResultChooseDialog = $('#tbResult-choose-dialog').DataTable({
                    "serverSide": true,
                    "bFilter": true,
                    "columnDefs": [
                        { "targets": [1], "orderable": false }
                    ],
                    "order": [[0, "desc"]],
                    "ajax": {
                        "url": '@Url.Content("~/choosedialog/search?entity=")' + _dialogEntity + "&flter=" + _dialogFilter + "&orderBy=" + _dialogOrderBy,
                        "type": "POST"
                    },
                    "columns": [
                        { "name": "Id", "width": "5px", "data": "RowNr", "render": function (data, type, row, meta) { return FormatInt32(data, type, row, meta); } },
                        //{ "name": "", "width": "5px", "data": "ChooseDialogId", "render": function (data, type, row, meta) { return FormatCheckbox(data, type, row, meta, "id","choose-item"); } },
                        { "name": "Name", "width": "415px", "data": "Name", "render": function (data, type, row, meta) { return FormatChooseLink(data, type, row, meta); } },
                    ],
                    "cache": false,
                    fnDrawCallback: function (settings, json) {
                        $('.i-checks').iCheck({
                            checkboxClass: 'icheckbox_square-green',
                            radioClass: 'iradio_square-green',
                        });
                        $("#tbResult-choose-dialog").show();
                    },
                    initComplete: function (settings, json) {
                        $("#tbResult-choose-dialog_filter").html("<label>Search:<input id=\"input_dialog_filter\" type=\"search\" class=\"form-control input-sm\" placeholder=\"\" aria-controls=\"tbResult-choose-dialog\"></label>");

                        $('#input_dialog_filter').unbind('keyup');
                        $("#input_dialog_filter").keyup(function (event) {
                            if (event.keyCode == 13) {
                                gotoSearchChooseDialog();
                            }
                        });
                    }
                });
            } else {
                gotoSearchChooseDialog();
            }

        }

        function gotoSearchChooseDialog() {
            tbResultChooseDialog.ajax.url("@Url.Content("~/choosedialog/search?")entity=" + _dialogEntity + "&flter=" + _dialogFilter + "&orderBy=" + _dialogOrderBy + "&SearchText=" + $("#input_dialog_filter").val()).load();
        }

        function gotoChooseItem(id, name) {
            if (id != null) {
                _selectOptionField.val(id);
               // _selectOptionField.empty().append('<option value=""></option><option selected="selected" value="' + id + '">' + name + '</option>');
            } else {
                _selectOptionField.val("");
                //_selectOptionField.empty().append('<option selected="selected" value=""></option>');
            }
            var event = new Event('change');
            _selectOptionField[0].dispatchEvent(event);

            if (_dialogFireEvent != null && typeof _dialogFireEvent !== "undefined") {
                _dialogFireEvent(id);
            }

            $("#modal-choose-dialog").modal("hide");
        }


        function chooseDialogOKClick() {
            try {
                var id = getCheckedOneValue("choose-item");
                if (id != 0) {
                    gotoChooseItem(id);
                }
            } catch (e) { alert(e); }
        }

    </script>