﻿<div class="modal inmodal" id="modal-jtree-dialog" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <h1 class="modal-title" style="float:left;font-size:14px;font-weight:bold;" id="modal-jtree-dialog-header"></h1>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                         <div id="jtree_json"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    <script>

        var _jtreeTable = null;
        var _jtreeField = null;
        var _jtreeFireEvent = null;
        var _jtreeFilter = null;
        var _jtreeLevel = -1;
        function openJTreeDialog(entity, fieldId, jtreeFireEvent,filter,selectLevel) {
            try{
                _jtreeTable = entity;
                _jtreeFireEvent = jtreeFireEvent;
                _jtreeField = $("#" + fieldId);
                _jtreeFilter = filter;
                if (_jtreeFilter == null || _jtreeFilter === undefined) _jtreeFilter = "";

                _jtreeLevel = selectLevel;
                if (selectLevel == null || selectLevel === undefined) _jtreeLevel = -1;

                $('#jtree_json').jstree("destroy").empty();
                $("#modal-jtree-dialog").modal("show");

                JTreeRequest();
            } catch (e) {
                alert("JTreeResponse Error->" + e);
            }
        }

        function JTreeRequest() {
            try{
                var url = "@Url.Content("~/jtreedialog?")entity=" + _jtreeTable + "&selectedid=" + _jtreeField.val() + "&filter=" + _jtreeFilter + "&selectLevel=" + _jtreeLevel;
                ajaxUrlRequest(url, JTreeResponse)
            } catch (e) {
                alert("JTreeResponse Error->" + e);
            }
        }

        function JTreeResponse(response) {
            try {
                if (response.StatusCode == "0") {
                    $("#modal-jtree-dialog-header").html(response.Message);

                    $('#jtree_json').jstree({
                        'core': {
                            'data': response.JsonData
                        }
                    });
                } else {
                    alert(response.Message);
                }
            } catch (e) {
                alert("JTreeResponse Error->" + e);
            }
        }

        function chooseJTreeItem(id, level, name) {
            try{
                if (level > _jtreeLevel) {
                    if (id != null) {
                        _jtreeField.val(id);
                        // _jtreeField.empty().append('<option value=""></option><option selected="selected" value="' + id + '">' + name + '</option>');
                    } else {
                        _jtreeField.val("");
                        //_jtreeField.empty().append('<option selected="selected" value=""></option>');
                    }
                    var event = new Event('change');
                    if (event != null && typeof event !== "undefined") {
                        _jtreeField[0].dispatchEvent(event);
                    }

                    if (_jtreeFireEvent != null && typeof _jtreeFireEvent !== "undefined") {
                        _jtreeFireEvent(id);
                    }
                    $("#modal-jtree-dialog").modal("hide");
                } else {
                    alert("@MyResources.Winplus.Resource.PleaseSelectMoreLevel "+(_jtreeLevel+1));
                }
            } catch (e) {
                alert("chooseJTreeItem Error->" + e);
            }
        }

    </script>