@model Library.Winplus.syslib.standard.localestringresource.model.LocaleStringResource
@{
    Library.Winplus.syslib.customize.loginuser.model.LoginUser loginUser = new Library.Winplus.syslib.customize.loginuser.repository.LoginUserRepository().FindByTokenId(Request, Session.SessionID);
    Int64? PublicOrganizationId = Library.Winplus.syslib.customize.systemconfig.service.SystemConfigService.GetLongConfig(loginUser, Library.Winplus.syslib.customize.systemconfig.keys.SystemConfigKey.PublicOrganizationId);
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <form id="addeditform-1" method="post" class="form-horizontal" action="@Url.Content("~/localestringresource/save")" onsubmit="_initialSubmitForm();ajaxSubmitForm(event,this,'btn-save',_gotoSave);" enctype="multipart/form-data">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>
                            @if(Model.LocaleStringResourceId.HasValue){
                                @MyResources.Winplus.Resource.Update
                            }else{
                                @MyResources.Winplus.Resource.Create
                            }
                            @Html.DisplayNameFor(model => model.LocaleStringResourceName)
                        </h5>
                    </div>
                    <div class="col-sm-6" style="text-align:right;">
                        <div class="form-group">
                            <button class="btn btn-white" type="button" onclick="gotoSearch();">@MyResources.Winplus.Resource.Cancel</button>
                            @if (Model.HasAuthorize(loginUser, "LocaleStringResource", "Add") || Model.HasAuthorize(loginUser, "LocaleStringResource", "Edit"))
                            {
                                <button class="btn ladda-button btn-primary" data-style="expand-left" type="submit" id="btn-save">@MyResources.Winplus.Resource.SaveChange</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
            <div class="row">
                    @Html.HiddenFor(model => model.LocaleStringResourceId)
                    @Html.HiddenFor(model => model.VersionNumber)

	                @if(!Model.IsHiddenName){
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LocaleStringResourceName)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.LocaleStringResourceName, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.LocaleStringResourceName),@required=""})
		                </div>
	                </div>
	                }
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LanguageId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('Language','LanguageId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.LanguageId,Model.GetSelectedItems("Language", Model.LanguageId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-12">
		                <label class="col-sm-2 control-label">@Html.DisplayNameFor(model => model.ResourceString)</label>
		                <div class="col-sm-10">
                            <div style="border:3px solid #F5F5F5;">
                                @Html.HiddenFor(model => model.ResourceString)
			                    <div id="ResourceString-Editor" class="wysiwyg-editor" >
                                    @Html.Raw(Model.ResourceString)
                                </div>
                            </div>
		                </div>
	                </div>
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ActiveStatusId)<span class="span-required">*</span></label>
		                <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon" onclick="openChooseDialog('ActiveStatus','ActiveStatusId')"><i class="fa fa-filter"></i></span>
                                @Html.DropDownListFor(model => model.ActiveStatusId,Model.GetSelectedItems("ActiveStatus", Model.ActiveStatusId,""), new { @class = "form-control" })
                            </div>
		                </div>
	                </div>
	                @if(!Model.IsHiddenDisplayIndex){
	                <div class="form-group col-sm-6">
		                <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DisplayIndex)</label>
		                <div class="col-sm-8">
			                @Html.TextBoxFor(model=>model.DisplayIndex, new{@class = "form-control",@title = @Html.DisplayNameFor(model => model.DisplayIndex),@type="number"})
		                </div>
	                </div>
	                }
            </div>
                
            <div class="row" style="border:1px solid #E7EAEC;padding-top:10px;">
                <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.OrganizationId)</label>
                        @if (PublicOrganizationId.HasValue && loginUser.OrganizationId.Value == PublicOrganizationId.Value)
                        {
                            <div class="col-sm-8">
                                @Html.DropDownListFor(model => model.OrganizationId,Model.GetSelectedItems("Organization", Model.OrganizationId,""), new { @class = "form-control" })
                            </div>
                        }else{
                            <div class="col-sm-8 value-padding">
			                    @Html.ValueFor(model=>model.OrganizationName)
                                @Html.HiddenFor(model => model.OrganizationId)
                            </div>
                        }
		           
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.VersionNumber)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model=>model.VersionNumber)
		            </div>
	            </div>
                <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedOn)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model=>model.CreatedOn)
		            </div>
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model=>model.CreatedBySystemUserName)
		            </div>
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model=>model.ModifiedOn)
		            </div>
	            </div>
	            <div class="form-group col-sm-6">
		            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
		            <div class="col-sm-8 value-padding">
			            @Html.ValueFor(model=>model.ModifiedBySystemUserName)
		            </div>
	            </div>
            </div>
        </div>
        </form>
    </div>
</div>
<script>

    /*  */
    function _initialAddEditForm() {
        bindingStandardField();
        
    }

    function _initialSubmitForm() {
        $("#ResourceString").val($('#ResourceString-Editor').code());
    }

    function _gotoSave(data, status) {
        if (data.StatusCode == "0") {
            gotoSearch();
        } else {
            alert(data.Message);
        }
    }

</script>
